<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test for embedded questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="col-md-12">
    <h4>How does this Tweet makes you feel?</h4>
    <div id="tweet-div"></div>
</div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"/>
<script>
    $(document).ready(function() {
        var url = "https://twitter.com/LeaveEUOfficial/status/985821756496728065"
        $.ajax({
            url: "https://publish.twitter.com/oembed?url=" + url,
            dataType: "jsonp",
            success: function (data) {
                $("#tweet-div").html(data.html);
            }
        })
    })
</script>

</body>
</html>
