<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="col-md-10">
    <h5>Thank you for taking the survey. Your response has been recorded.</h5>
    <form action="/results">
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>

</body>
</html>
