<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>

<h3>Hello world!</h3>

<a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
   href="https://twitter.com/OfficialTfGM?ref_src=twsrc%5Etfw">Tweets by OfficialTfGM</a>

<a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
   href="https://twitter.com/MCRMetrolink?ref_src=twsrc%5Etfw">Tweets by MCRMetrolink</a>

</body>
</html>