<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<div class="col-md-10">
    <form method="POST">
        <input type="hidden" name="sectionId" th:value="${sectionId}"/>

        <ul class="list-group">
            <th:block th:each="question : ${questions}">
                <li class="list-group-item">
                    <h3>
                        <p th:text="${question.questionText}"></p>
                    </h3>

                    <th:block th:switch="${question.class.name}">
                        <div th:case="'man.survey.McQuestion'">
                            <div th:each="alternative : ${ question.alternatives}">
                                <label>
                                    <input required type="radio" th:name="${question.id}" th:value="${alternative.id}"/>
                                    <span th:utext="${alternative.alternativeText}"></span>
                                </label>
                            </div>
                        </div>
                        <div th:case="'man.survey.MatrixQuestion'">
                            <table>
                                <tr>
                                    <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                                        <th th:text="${i}"/>
                                    </th:block>
                                </tr>
                                <tr>
                                    <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                                        <td><input required type="radio" th:name="${question.id}" th:value="${i}"/>&emsp;</td>
                                    </th:block>
                                </tr>
                            </table>
                        </div>
                        <div th:case="'man.survey.TextQuestion'">
                            <input required type="text" th:name="${question.id}"/>
                        </div>
                        
                        <div th:case="'man.survey.EmbedQuestion'">
                          <h4 th:utext="${question.embedLink}"></h4>
                          <table>
                              <tr>
                                  <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                                      <th th:text="${i}"/>
                                  </th:block>
                              </tr>
                              <tr>
                                  <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                                      <td><input required type="radio" th:name="${question.id}" th:value="${i}"/>&emsp;</td>
                                  </th:block>
                              </tr>
                          </table>
                        </div>
                    </th:block>
                </li>

            </th:block>
        </ul>

        <br/>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
</div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
