<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>
<body>

<form method="POST">
    <input type="hidden" name="sectionId" th:value="${sectionId}"/>
<th:block th:each="question : ${questions}">
    <p th:text="${question.questionText}"></p>
    <th:block th:switch="${question.class.name}">
        <div th:case="'survey.McQuestion'">
                <div th:each="alternative : ${ question.alternatives}">
                    <label>
                        <input type="radio" th:name="${question.id}" th:value="${alternative.id}"/>
                        <span th:text="${alternative.alternativeText}"></span>
                    </label>
                </div>
        </div>
        <div th:case="'survey.MatrixQuestion'">
            <table>
                <tr>
                    <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                        <th th:text="${i}"/>
                    </th:block>
                </tr>
                <tr>
                    <th:block th:each="i: ${#numbers.sequence(1, question.scale)}">
                        <td><input type="radio" th:name="${question.id}" th:value="${i}"/></td>
                    </th:block>
                </tr>
            </table>
        </div>
        <div th:case="'survey.TextQuestion'">
            <input type="text" th:name="${question.id}"/>
        </div>
    </th:block>



</th:block>
    <input type="submit"/>
</form>
</body>
</html>
